!!!
%html
  %head
    %title Widen Simple One-Way SSO
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=UTF-8'}
  %body
    %h1 Widen Simple One-Way SSO
    %p
      %a(href='/post') HTTP POST (application/x-www-form-urlencoded) Example
    %p
      %a(href='/get') HTTP GET Example
