doctype html
html
  head
    title Widen Simple One-Way SSO
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  body
    h1 Widen Simple One-Way SSO
    h2 HTTP GET Example
    a(href= endpointWithParams) Login
